/* Footer.css */
.footer {
  background-color: #004080; /* Dark background color */
  color: white; /* Text color */
  padding: 20px; /* Padding for spacing */
  text-align: center; /* Center text */
}

.footer-content {
max-width: 1200px;
  margin: 0 auto; /* Center the content */
}

.footer h2
{
  color:white;
}
.mt-4
{
  margin-top: 30px;;
}

.footer-links {
  list-style: none; /* Remove list styles */
  padding: 0; /* Remove padding */
  margin: 10px 0; /* Margin for spacing */
}

.footer-links li {
  display: inline; /* Display list items inline */
  margin: 0 15px; /* Margin between links */
}

.footer-links a {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline */
}

.footer-links a:hover {
  text-decoration: underline; /* Underline on hover */
}
